version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - Redis__ConnectionString=redis:6379
    ports:
      - "9082:9082"
    depends_on:
      - redis

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
